node_modules/
uploads/

# environment files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ML Datasets (Too large for GitHub)
ml/data/*.csv

# caches and build output
dist/
build/
coverage/
.cache/
.expo/

# editor / OS files
.DS_Store
.vscode/
.idea/
